@page "/"
    <!-- Background image -->
    <div class="bg-image" style="
      background-image: url('Images/bg_image.jpg');
      height: 100vh;
    ">
    <!-- Background image -->
    

        <MudCarousel Style="height:200px;" ShowArrows="true" ShowDelimiters="true" AutoCycle="true" TData="object">
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
                
                    <MudText Align="Align.Center" Typo="Typo.h3">Have you any GaleTrailCredits to Redeem?</MudText>
                
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MicrosoftAzure" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <img src="Images/sunset.jpg" />
                </div>
            </MudCarouselItem>
        </MudCarousel>

        <h1>Hello, Gale Trail Generation!</h1>

        Welcome to your GaleTrail Portal.

        

        <h3>@myMessage</h3>

        <p>
            With the adoption of innovative technologies in collaboration with Version 1,
            GaleTrail will leverage its world-leading Future Environment database in order
            to deliver build quality metrics, turbine recycling statistics and carbon emission
            information to the renewable energy industry and public.
        </p>

        <span><img src="../images/GaleTrail.png" width="600" height="600" /></span>
    </div>


    @code
    {
        public string myMessage = RandomMessage();

        public static string RandomMessage()
        {
            Random rnd = new Random();
            int randomNumber = rnd.Next(0, 3);
            string[] messageList = { "Blockchain Generation suspended for maintenance. Please reload your page", "You have no new turbines ready. Would you like to deploy one?", "Invalid blockchain transaction at Turbine number 83477820", "No new blockchain transactions detected." };
            return (string)messageList.GetValue(randomNumber);
        }
    }